body {
    background-color: #00ADB5;
    font-family: "Gill Sans", sans-serif;
    }
hr {
    border-style: dotted none none;
    border-color: #EEEEEE;
    border-width: 5;
    width: 50%;
    }
h1, h3 {
    color: #393E46;
}
p, a {
    color: #222831;
}
img {
    width: 150px;
}
